# Ignore everything IN THE CURRENT FOLDER ONLY. IN FACT, IF I JUST USE *, IT 
# WILL IGNORE EVERYTHING IN THE CURRENT FOLDER AND IN THE NESTED FOLDERS
# RECURSIVELY!!!!!!
/*

# Whitelist some files
!.gitignore
!README.md

!.bashrc

!.config/
.config/*
!.config/nvim/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/nvim/site
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
